body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
    color: white; 
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    margin-left: 42px;
}
nav{
    background-color: brown;
}
.text1{
    height: 20px;
    width: 14em;
    float: right;
    margin: 8px 8px 10px 8px;
}
.img1{
    background-color: whitesmoke;
}
.back{
    margin:-94px 0 0 1426px;
    position: absolute;
}
.vid{
    margin: 70px 400px 0 400px;
    padding: 10px 101px 10px 101px;
    border-style: double;
    border-color: white;
    border-radius: 35px;
    background-color: #a46482;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    margin: 19px;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex-basis: calc(49.33% - 20px);
    margin-right: 20px;
}

.footer-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu li {
    margin-bottom: 5px;
}

.footer-menu li a {
    color: #fff;
    text-decoration: none;
}

.footer-menu li a:hover {
    text-decoration: underline;
}
.map{
    float: right;
    margin: -532px 0 0 0;
}
.dropbtn {
    background-color: brown;
    color: white;
      float: right;
      margin: -18px 3px -6px 40px;
    font-size: 20px;
  
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color: #fff;
    color: black;
    padding: 20px 0px 2px 29px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  .form button {
    outline: 0;
    background: #6a62d2;
    width: 6%;
    border: 0;
    margin: 4px 0px 0 1189px;
    border-radius: 50px;
    padding: 9px;
    color: #FFFFFF;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    position: absolute;
}
.form button:hover,
.form button:active,
.form button:focus {
    background: black;
    color: #fff;

}